@import url(https://fonts.googleapis.com/css?family=Lato);

.remark-slide-content { 
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
}

div.hilite {
  font-size: 24pt;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-left: 0em;
  margin-right: 0em;
  background: #444;
  color: #eee;
}

div.medlite {
  padding-left: 1.0em;
  padding-right: 1.0em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-left: 0em;
  margin-right: 0em;
  background: #ddd;
  color: #000;
}

span.large {
  font-size: 200%;
}

span.xlarge {
  font-size: 300%;
}

li {
  margin-bottom: 0.5em;
}

div.footnote {
  margin-top: 1em;
  font-size: 70%;
}

h3 {
  color: #333;
}

strong {
  color: maroon;
}

span.small {
  font-size: 80%;
}
